{% extends '_template.html.twig' %}

{% block style %}
    @import "/css/about.css";
{% endblock %}

{% block main %}
    <content>
        <h3 id="title">ABOUT US</h3>

        <br>
        <center>
            <img src="/images/about.png" alt="location" border="0">
        </center>
        <br>

        <p><strong>Find us at: </strong><a href="https://www.google.ie/maps/place/Institute+of+Technology+Blanchardstown/@53.4047486,-6.3802514,17z/data=!3m1!4b1!4m5!3m4!1s0x486712badd7cd6b1:0x9817ed5716c08592!8m2!3d53.4047486!4d-6.3780627" target="_blank">address</a></p>
    </content>
{% endblock %}