{% extends '_template.html.twig' %}

{% block style %}
    @import "/css/sitemap.css";
{% endblock %}

{% block main %}
    <content>
        <h3 id="title">SITEMAP</h3>

        <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Menu</li>
            <li>Sign Up</li>
            <li>Login</li>
        </ul>
    </content>
{% endblock %}